.app_details {
    padding: 40px 0 20px 0;
}

.slider_image img, .slider_image_small img {
    width: 100%;
    border-radius: 20px;
    height: 100%;
}

.slider_image_small {
    height: auto;
    padding: 10px 0 10px 10px;
}
.slider_image_small:first-child{
    padding-left: unset;
}


.slider_image {
    position: relative;
}

.slider_images {
    padding: 10px 0;
}

.icon i {
    width: 50px;
    height: 50px;
}

.more {
    width: 140px;
    padding: 40px 0;
}

.more p {
    position: relative;
    font-weight: 600;
    color: black;
}

.columns{
    display: flex;
    justify-content: space-around;
}
.txt_container {
    margin: 0 auto;
    padding: 50px 0;
}

.column {
    line-height: 25px;
}
.available{
    flex-grow: 0.4;
}

.contactus {
    padding: 50px 0;
}

.call_button {
    border-radius: 20px;
    background-color: #ffb400;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: .5s;
    color: #000000;
    display: flex;
    position: relative;
    line-height: 50px;
    padding-left: 50px;
    width: 220px;
}
.call_button::before{
    content: '';
    background-image: url("../images/whatsapp-brands.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 26px;
    height: 30px;
    left: 20px;
    top: 10px;

}
.call_button img {
    margin-right: 10px;
    width: 30px;
}

.call_button:first-child {
    margin-bottom: 10px;
}

.txt_container:first-child {
    font-weight: bold;
}

.slider_image{
    height: 600px;
    background-image: url("../images/app.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
}
.arrows{
    display: flex;
    width: 1170px;
    justify-content: space-between;
    align-items: center;
}
.arrow {
    font-weight: 700;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 10px 5px rgba(134, 134, 134, 0.25);
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    cursor: pointer;
}

.arrow:hover {
    opacity: 80%;
}

.more .select select {
    box-shadow: unset;
}

.more .select::after {
    content: "";
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    position: absolute;
    right: 15px;
    top: 2px;
}

.contact_us_call {
    width: 100%;
    justify-content: space-between;
}

.contact_us_call .app_price {
    align-self: center;
    line-height: 30px;
}

.contact_us_social {
    max-width: 400px;
    justify-content: space-evenly;
}

.contact_us_social .icons a {
    margin-right: 10px;
}

@media screen and (min-width: 1600px)and (max-width: 1919px) {


}
@media screen and (min-width: 1024px)and (max-width: 1599px) {

.txt_container{
    max-width: 870px;
}
    .arrows{
        width: 950px;
    }
}
@media screen and (min-width: 768px)and (max-width: 1023px) {

    .txt_container{
        max-width: 720px;
    }
    .arrows{
        width: 700px;
    }
}
@media screen and (min-width: 480px)and (max-width: 767px) {
    .txt_container{
        max-width: 570px;
    }
    .txt_container .column li{
        font-size: 12px;

    }
.apartment_description{
    min-width: 310px;
}
}
@media screen and (min-width: 480px)and (max-width: 767px) {

    .txt_container .column li{
        font-size: 12px;

    }
}