* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat-Regular';
    font-style: normal;
    color: #626777;
}

*::before, *::after {
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montserrat-Regular';
    src: url('../font/Montserrat-Regular.ttf') format('woff2'),
    url('../font/Montserrat-Regular.ttf') format('woff');
}

header {
    background-color: #f4f4f4;
    width: 100%;
}

header, footer {
    font-size: 16px;
}

a {
    text-decoration: none;

}

li {
    list-style: none;
}

header nav li {
    margin-left: 20px;
}

nav li:first-child {
    margin-left: unset;
}

.usd {
    position: relative;
}

nav li a {
    transition: .5s;
}

nav li a:hover {
    color: #ffb400;
    transition: .5s;
}

.df {
    display: flex;
}

.jc_center {
    justify-content: center;
}

.ai_center {
    align-items: center;
}

.fd_col {
    flex-direction: column;
}

.jc_between {
    justify-content: space-between;
}

.container {
    max-width: 1200px;
    padding: 20px 0 20px 0;
    margin: 0 auto;
}


.logo img {
    width: 100%;
}

#usd::before {
    content: '';
    background-image: url('../images/Star 1.png');
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    right: 15px;
    top: 2px;

}

.hidden_menu i {
    display: none;
}

.nav_menu_hidden {
    display: none;
}

.header_bg img {
    width: 100%;
}


main {
    font-size: 14px;
}

.welcome p {
    text-align: center;
    padding: 80px;
}

.apartment, .house {
    margin-bottom: 80px;
}

.txt {
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.txt p, button {
    margin-top: 20px;
}

.txt p {
    text-align: justify;
}

.mr_l90 {
    margin-left: 90px;
}

.mr_r90 {
    margin-right: 90px;
}

.mr_b90 {
    margin-bottom: 90px;
}

.img {
    border-radius: 10px;
    width: 500px;
    height: 100%;
    cursor: pointer;
}

.img img {
    width: 100%;
    border-radius: 20px;
}

.c_black {
    color: #000000;

}

button {
    border-radius: 20px;
    background-color: #ffb400;
    font-weight: 700;
    border: none;
    padding: 20px;
    cursor: pointer;
    transition: .5s;
    width: 130px;
    color: #000000;
}

button:hover {
    opacity: 70%;
    transition: .5s;
}

footer {
    background-color: #f4f4f4;
}

.information > div {
    line-height: 25px;
}

.footer_nav_menu nav {
    width: 300px;
    justify-content: space-between;
}

.footer_logo {
    width: 183px;
    height: 51px;
}

.footer_logo img {
    width: 100%;
}

.contacts span {
    font-weight: bold;
}

.icons i {
    color: #fff;
}

.icons a:hover {
    opacity: 70%;
}

.icons a {
    width: 30px;
    height: 30px;
    background: #626777;;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.information {
    padding: 10px 0;
}


@media screen and (min-width: 1024px)and (max-width: 1599px) {
    .container {
        max-width: 970px;

    }

    .nav_menu nav li {
        margin-right: 15px;
        position: relative;
    }

    header, footer {
        font-size: 12px;
    }

    button {
        padding: 13px;
    }

    .footer_logo {
        width: 140px;
    }

    .logo {
        margin-right: 70px;
    }

    #usd::before {
        width: 10px;
        height: 10px;
        right: 28px;
        top: 1px;
    }


    nav li:last-child {
        margin-right: unset;
    }

    .footer_nav_menu nav {
        width: 220px;

    }

}

@media screen and (min-width: 768px)and (max-width: 1023px) {
    .container {
        max-width: 780px;
    }

    .nav_menu nav li {
        margin-right: 15px;
        position: relative;
    }

    header, footer {
        font-size: 11px;
    }

    .txt {
        width: 350px;
    }

    .logo {
        margin-right: 10px;
        width: 100px;
    }

    .logo img {
        width: 100%;
    }

    #usd::before {
        width: 20px;
        height: 20px;
        right: 17px;
        top: 0;
    }

    .txt_width {
        width: 100%;
    }

    button {
        padding: 10px;
    }


    .footer_logo {
        width: 126px;
    }

    .footer_nav_menu nav {
        width: 190px;

    }


}

@media screen and (min-width: 320px)and (max-width: 767px) {

    .header_top {
        justify-content: space-around;
    }

    .menu {
        display: none;
    }

    .information {
        flex-direction: column;
        align-items: center;
    }

    .footer_logo {
        margin: 0 auto;
    }

    .footer_nav_menu nav ul {
        text-align: center;
    }

    .mr_bottom20 {
        margin-bottom: 20px;
    }

    .hidden_menu i {
        display: block;
    }

    .hidden_menu {
        background-color: #f4f4f4;
        cursor: pointer;
    }

    .nav_menu_hidden nav li {
        margin-left: unset;
    }


    .hidden_menu i {
        display: block;
    }

    .hidden_menu:hover .nav_menu_hidden {
        display: block;
    }

    .nav_menu {
        display: none;
    }

    .nav_menu_hidden {
        position: relative;
        transition: .7s;
    }

    .nav_menu_hidden nav ul {
        flex-wrap: wrap;
        width: 65px;
        font-size: 10px;
    }

    .nav_menu_hidden nav ul li {
        margin-bottom: 3px;
    }

    .nav_menu_hidden nav {
        width: 100px;
        justify-content: center;
        position: absolute;
        left: -100px;
        bottom: -135px;
        box-shadow: 5px 5px 10px 5px rgba(134, 134, 134, 0.56);
        border-radius: 3px;
        background: #f4f4f4;
    }

    .welcome p {
        padding: 40px;
    }

    button {
        width: 95px;
        padding: 5px;
        font-size: 10px;
        margin-top: 5px;
    }

    .offers {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .offer {
        position: relative;
        margin-bottom: 20px;
    }
    .offer:nth-child(2) .txt {
        z-index: 1;
        left: 99px;
    }

    .img {
        opacity: 60%;
        filter: brightness(0.5);
    }

    .txt {
        position: absolute;
        left: 25px;
        top: 5px;

    }

    .txt p {
        color: white;
        line-height: 30px;
        margin-top: 5px;
    }

    .icons i {
        font-size: 16px;
    }

}





